<form>
    <h1>LogIn</h1>
    <input type="text" name="login">
    <input type="password" name="password">
    <button>Send</button>
</form>
<script src="/javascripts/logRegScript.js"></script>
<a href="/">main</a><br>
<a href="/registration">registration</a>