<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-9 rounded-4 bg-white border border-dark-subtle p-3 my-3">
            Ваш результат: %
        </div>
    </div>
</div>