<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>Document</title>
</head>

<body>
    <header>
        <h1>Python Test</h1>
    </header>
    <main>
        <h1>Привет! Это тест по Python</h1>
        <form action="/questions" method="get">
            <button type="submit">Начать тест</button>
        </form>
    </main>
    <footer>
        <p>Copyright &copy; School Name
            <script>document.write(new Date().getFullYear())</script>
        </p>
    </footer>
</body>

</html>