<!DOCTYPE html>
<html>

<head>
    <title>Python Test</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <header>
        <h1>Python Test</h1>
    </header>
    <main>
        <section>
            <h2>Introduction</h2>
            <p>Welcome to the Python test. This test covers the topics of basics (variables, data types int, boolean,
                str, float), conditions, loops for and while, and basic string operations.</p>
        </section>

        <section>
            <h2>Multiple Choice Questions</h2>
            <form action="/questions" method="post">
                {% for question in questions %}
                <ol>
                    <li>
                        <h3>Question 1:</h3>
                        <p>{{ qestions.question }}</p>
                        <label>
                            <input type="radio" name="answer{{ question.id }}" value="1">
                            {{ question.answer1 }}
                        </label>
                        <label>
                            <input type="radio" name="answer{{ question.id }}" value="2">
                            {{ question.answer2 }}
                        </label>
                        <label>
                            <input type="radio" name="answer{{ question.id }}" value="3">
                            {{ question.answer3 }}
                        </label>
                        <label>
                            <input type="radio" name="answer{{ question.id }}" value="4">
                            {{ question.answer4 }}
                        </label>
                    </li>
                    <!-- Other questions go here -->
                </ol>
                {% endfor %}
                <button type="submit">Submit</button>
            </form>
        </section>

    </main>
    <footer>
        <p>Copyright &copy; School Name
            <script>document.write(new Date().getFullYear())</script>
        </p>
    </footer>
    <script src="source/script.js"></script>
</body>

</html>